/*IMPORTS*/

@import 'tailwindcss';

/*GLOBAL STYLES*/

@layer base{
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
  }
}
  
  


/*TAILWIND CONFIG*/

@theme{
  --color-purple:#A98FE3;
  --color-yellow:#FFE066;
  --color-white:#F8F9FA;
  --color-gray: #343A40 ;
}